<!DOCTYPE html>
<html class="{{ctmCoreClass}}">
	<head>
		<title>{{ title }}</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		{{> ctm}}

		<script src="{{polyfillServiceUrl}}"></script>

		{{{block "head"}}}
	</head>
	<body>
		{{#headerConfig}}
			{{> header}}
		{{/headerConfig}}

		{{{body}}}

		{{> footer}}
	</body>
</html>
